.body {
  position: relative;
}

.menuContainer {
  position: absolute;
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 23px;
  padding-right: 23px;
  color: white;
  font-family: "Poppins", sans-serif;
  z-index: 10;
}
.menuContainer .linksContainer ul {
  display: flex;
  width: 800px;
  list-style: none;
  justify-content: space-around;
  font-size: 12px;
}
.menuContainer .linksContainer ul:hover {
  cursor: pointer;
}
.menuContainer .linksContainer ul:hover li:active {
  cursor: pointer;
  border-bottom: 1px solid #EE7623;
  -webkit-animation: none;
          animation: none;
}
.menuContainer .logoContainer {
  width: 20%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 12px;
}
.menuContainer .buttonsContainer {
  width: 20%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 12px;
}
.menuContainer .buttonsContainer button {
  width: 146px;
  height: 35px;
  left: 1214px;
  top: 10px;
  border: 1px solid;
  box-sizing: border-box;
  outline: none;
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .menuContainer .linksContainer ul {
    display: none;
  }
  .menuContainer .buttonsContainer {
    display: none;
  }
}

.headerBody {
  position: relative;
}
.headerBody .containerVideo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}
.headerBody .containerVideo video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.headerBody .containerVideo .overlay {
  position: absolute;
  color: white;
  width: 50%;
  font-size: 3vw;
  margin-top: 10%;
  margin-left: 10%;
  font-family: "Poppins", sans-serif;
}
.headerBody .containerVideo .overlay p {
  font-size: 1.5vw;
}
.headerBody .containerVideo .index {
  position: absolute;
  color: white;
  width: 10%;
  height: 28px;
  font-size: 3vw;
  margin-top: 7%;
  font-family: "Poppins", sans-serif;
  background: #FC6240;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}
.headerBody .containerVideo .index p {
  font-size: 1vw;
}

.customGraphic {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}
.customGraphic .title {
  align-self: center;
  font-family: sans-serif;
  text-align: center;
  font-size: 2.7vw;
  margin-bottom: 40px;
  color: #505D68;
}
.customGraphic .infoContainer {
  display: flex;
  align-self: center;
  width: 65%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.customGraphic .infoContainer .services {
  display: flex;
  width: 50%;
  justify-content: space-around;
  padding-top: 50px;
  font-family: sans-serif;
}
.customGraphic .infoContainer .services h4 {
  font-size: 1.5vw;
  margin-bottom: 10px;
}
.customGraphic .infoContainer .services ul {
  font-family: sans-serif;
}
.customGraphic .infoContainer .services .bussiness {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.customGraphic .infoContainer .services .bussiness h4 {
  color: #36B0C9;
}
.customGraphic .infoContainer .services .governance {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.customGraphic .infoContainer .services .governance h4 {
  color: #EE7623;
}
.customGraphic .infoContainer .imageSrc {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.customGraphic .infoContainer .imageSrc img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 400px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) and (-webkit-min-device-pixel-ratio: 2) {
  .customGraphic .infoContainer .services {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .customGraphic .infoContainer .services h4 {
    font-size: 7vw;
  }
  .customGraphic .infoContainer .services .bussiness {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .customGraphic .infoContainer .services .governance {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .customGraphic .infoContainer .imageSrc {
    width: 100%;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .customGraphic .infoContainer .services {
    width: 100%;
  }
  .customGraphic .infoContainer .imageSrc {
    width: 100%;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 3000px) and (-webkit-min-device-pixel-ratio: 2) {
  .customGraphic .infoContainer .imageSrc {
    width: 50%;
  }
}
.customGraphic button {
  background: #EE7623;
  border-radius: 50px;
  height: 40px;
  width: 10%;
  outline: none;
  border: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */