.App{
    background: rgb(145, 145, 145);
    height: 100vh;
}
.body{
    position: relative;
}
.menuContainer{
    position: absolute;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 23px;
    padding-right: 23px;
    color: white;
    font-family: 'Poppins', sans-serif;
    z-index: 10;
    .linksContainer ul{
        display: flex;
        width: 800px;
        list-style: none;
        justify-content: space-around;
        font-size: 12px;
        &:hover{
            cursor: pointer;
            li{
                &:active{
                cursor: pointer;
                border-bottom: 1px solid #EE7623;
                animation: none;
                }
                
            }
        }
    }
    .logoContainer{
        width: 20%;
        display: flex;
        list-style: none;
        justify-content: space-around;
        font-size: 12px;
    }

    .buttonsContainer{
        width: 20%;
        display: flex;
        list-style: none;
        justify-content: space-around;
        font-size: 12px;
        button{
            width: 146px;
            height: 35px;
            left: 1214px;
            top: 10px;
            border: 1px solid;
            box-sizing: border-box;
            outline: none;
            background: none;
            color: white;
            cursor: pointer;
            border-radius: 30px;
        }
    }

// Mobile view
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .linksContainer ul{
        display: none;
    }

    .buttonsContainer{
        display: none;
    }
}
    
}



